<div class="profile" [matMenuTriggerFor]="profileMenu" [ngClass]="{'selected': open }">
  <div class="profile__user">
    <div class="user__name">Obi-wan Kenobi, Jedi Master</div>
    <div class="user__org">BP Energy Company</div>
  </div>
  <svg class="feather" [ngClass]="{'rotate': open }">
    <use xlink:href="./assets/feather-sprite.svg#arrow-up"/>
  </svg>
</div>
<mat-menu class="full-width-menu" #profileMenu="matMenu" MenuPositionX="after" xPosition="after" [overlapTrigger]="false">
  <button mat-menu-item>
    <div style="display: flex; padding: .25em; align-items: center;">
      <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
        <svg class="feather" style="fill: none; stroke: #a1d2eb;">
          <use xlink:href="./assets/feather-sprite.svg#settings"/>
        </svg>
      </div>
      <div style="flex: 1; padding: 0 .25em; color: #fff;">User Preferences</div>
    </div>
  </button>
  <button mat-menu-item>
    <div style="display: flex; padding: .25em; align-items: center;">
      <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
        <svg class="feather" style="fill: none; stroke: #a1d2eb;">
          <use xlink:href="./assets/feather-sprite.svg#aperture"/>
        </svg>
      </div>
      <div style="flex: 1; padding: 0 .25em; color: #fff;">App Settings</div>
    </div>
  </button>
  <button mat-menu-item>
    <div style="display: flex; padding: .25em; align-items: center;">
      <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
        <svg class="feather" style="fill: none; stroke: #a1d2eb;">
          <use xlink:href="./assets/feather-sprite.svg#log-out"/>
        </svg>
      </div>
      <div style="flex: 1; padding: 0 .25em; color: #fff;">Logout</div>
    </div>
  </button>
</mat-menu>