<div class="l-aes">
  <aes-header></aes-header>
  <div class="l-aes__container">
    <div class="l-aes__side">
      <div class="side-tool">
        <div class="side-tool__icon">
          <svg class="feather">
            <use xlink:href="./assets/feather-sprite.svg#inbox"/>
          </svg>
        </div>
        <div class="side-tool__name">
          Notifications
        </div>
      </div>
      <div class="side-tool" (click)="random()">
        <div class="side-tool__icon">
          <svg class="feather">
            <use xlink:href="./assets/feather-sprite.svg#list"/>
          </svg>
        </div>
        <div class="side-tool__name">
          Tasks
        </div>
      </div>
    </div>
    <div class="l-aes__content">
      <div style="border-bottom: 1px solid #eaeaea; display: flex; background-color: #f2f2f2; padding: .5em 0 0 0;">
        <div style="display: flex; align-items: center; border-style: solid; border-color: #eaeaea; border-width: 1px 1px 0 1px; border-top-left-radius: .25em; border-top-right-radius: .25em; width: 8em; padding: .25em; margin: 0 .25em -1px .25em; background-color: #fff;">
          <div style="width: 25%; display: flex; justify-content: center;">
            <svg style="width: 18px; height: 18px; fill: none; stroke: #48b2e8;" class="feather">
              <use xlink:href="./assets/feather-sprite.svg#box"/>
            </svg>
          </div>
          <div style="color: #444; flex: 1; font-size: .7em; text-transform: uppercase;">ESN</div>
        </div>
        <div style="color: #fff; display: flex; align-items: center; border-top-left-radius: .25em; border-top-right-radius: .25em; width: 8em; padding: .25em; margin: 0 .25em -1px .25em; background-color: #48b2e8;">
          <div style="width: 25%; display: flex; justify-content: center;">
            <svg style="width: 18px; height: 18px; fill: none; stroke: #fff;" class="feather">
              <use xlink:href="./assets/feather-sprite.svg#box"/>
            </svg>
          </div>
          <div style="color: #fff; flex: 1; font-size: .7em; text-transform: uppercase;">Notifications</div>
        </div>
        <div style="color: #fff; display: flex; align-items: center; border-top-left-radius: .25em; border-top-right-radius: .25em; width: 8em; padding: .25em; margin: 0 .25em -1px .25em; background-color: #48b2e8;">
          <div style="width: 25%; display: flex; justify-content: center;">
            <svg style="width: 18px; height: 18px; fill: none; stroke: #fff;" class="feather">
              <use xlink:href="./assets/feather-sprite.svg#box"/>
            </svg>
          </div>
          <div style="color: #fff; flex: 1; font-size: .7em; text-transform: uppercase;">Tasks</div>
        </div>
      </div>
      <div style="display: flex; flex: 1;">
        <div style="color: #444; min-width: 200px; width: 15%;">
          <div style="display: flex; align-items: center; justify-content: center; padding: 1em; border-bottom: 1px solid #eee;">
            <div style="flex: 1;">
              <div style="margin: .1em 0; font-size: .9em; font-weight: 600; text-transform: uppercase;">Invoice <span style="color: #98C21F;">#19328</span></div>
              <div style="font-size: .6em; text-transform: uppercase;">Last Update: 7/17/2018 1:59 pm</div>
              <div style="font-size: 2em; margin: .25em;">$12,932.89</div>
              <button style="margin: .25em; color: #fff; border-radius: .15em; border: none; background-color: #98C21F; padding: .5em 1em; width: 100%;">Make Payment</button>
            </div>
          </div>
        </div>
        <div style="display: flex; flex-direction: column; flex: 1; border-left: 1px solid #eee;">
          <div style="cursor: default; display: flex; align-items: center; border-bottom: 1px solid #eee; padding: 1em; font-size: .8em;">
            <svg style="width: 15px; height: 15px; fill: none; stroke: #aaa;" class="feather">
              <use xlink:href="./assets/feather-sprite.svg#home"/>
            </svg>
            <span style="padding: 0 .15em; color: #48b2e8;">ESN Home</span> 
            <svg style="width: 15px; height: 15px; fill: none; stroke: #aaa;" class="feather">
              <use xlink:href="./assets/feather-sprite.svg#chevron-right"/>
            </svg>
            <span style="padding: 0 .15em; color: #48b2e8;">Tie Outs</span> 
            <svg style="width: 15px; height: 15px; fill: none; stroke: #aaa;" class="feather">
              <use xlink:href="./assets/feather-sprite.svg#chevron-right"/>
            </svg>
            <span style="padding: 0 .15em; color: #48b2e8;">1738</span> 
            <svg style="width: 15px; height: 15px; fill: none; stroke: #aaa;" class="feather">
              <use xlink:href="./assets/feather-sprite.svg#chevron-right"/>
            </svg>
            <span style="padding: 0 .15em; color: #48b2e8;">Invoices</span> 
            <svg style="width: 15px; height: 15px; fill: none; stroke: #aaa;" class="feather">
              <use xlink:href="./assets/feather-sprite.svg#chevron-right"/>
            </svg>
            <span style="padding: 0 .15em; color: #444;">19328</span>
          </div>
          <div style="display: none;">
            <div style="padding: .5em; height: 100px; width: 200px; margin: 1em; box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);">
              Test
            </div>
            <div style="padding: .5em; height: 100px; width: 200px; margin: 1em; box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);">
              Test
            </div>
            <div style="padding: .5em; height: 100px; width: 200px; margin: 1em; box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);">
              Test
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>