<div class="l-aes">
  <header class="l-aes-header">
    <div class="l-aes-header__logo"></div>
    <div class="l-aes-header__title">AES Portal</div>
    <div class="l-aes-header__nav">
      <div class="nav__tool">
        <svg class="feather">
          <use xlink:href="./assets/feather-sprite.svg#layers"/>
        </svg>
      </div>
      <div class="nav__tool">
        <svg class="feather">
          <use xlink:href="./assets/feather-sprite.svg#bell"/>
        </svg>
        <span style="position: absolute; top: -.6em; left: 3em;">
          <svg class="feather" style="width: 1em; stroke: #fff; stroke-width: .3em; fill: #FF9952;">
            <use xlink:href="./assets/feather-sprite.svg#circle"/>
          </svg>
        </span>
      </div>
    </div>
    <div class="l-aes-header__menu">
      <div class="profile">
        <div class="profile__logo"></div>
        <div class="profile__user">
          <div class="user__name">Obi-wan Kenobi, Jedi Master</div>
          <div class="user__org">BP Energy Company</div>
        </div>
        <div style="padding: 0 1em 0 0;">
          <svg class="feather">
            <use xlink:href="./assets/feather-sprite.svg#arrow-down"/>
          </svg>
        </div>
      </div> 
    </div>
  </header>
  <div class="l-aes__container">
    <div class="l-aes__side">
      <div class="side-tool">
        <div class="side-tool__icon">
          <svg class="feather">
            <use xlink:href="./assets/feather-sprite.svg#inbox"/>
          </svg>
        </div>
        <div class="side-tool__name">
          Notifications
        </div>
      </div>
      <div class="side-tool">
        <div class="side-tool__icon">
          <svg class="feather">
            <use xlink:href="./assets/feather-sprite.svg#list"/>
          </svg>
        </div>
        <div class="side-tool__name">
          Tasks
        </div>
      </div>
    </div>
    <div class="l-aes__content">AES content</div>
  </div>
</div>