<div style="flex: 1; display: flex;">
  <!-- <div>
      <div>message 1</div>
      <div>message 2</div>
      <div>message 3</div>
      <div>message 4</div>
      <div>message 5</div>
  </div>
  <div>message view</div> -->
  <!-- <mat-card style="margin: .25em; background-color: #fff; width: 20%; max-width: 200px;">
    <mat-card-title>Received</mat-card-title>
    <div>message 1</div>
    <div>message 2</div>
    <div>message 3</div>
    <div>message 4</div>
    <div>message 5</div>
  </mat-card>
  <mat-card style="margin: .25em; flex: 1;">selected message body</mat-card> -->
</div>