<div class="l-aes-app">
  <div class="l-aes-app__side">
    <div class="l-aes-side__summary">app meta</div>
    <div class="l-aes-side__details">app fns</div>
  </div>
  <div class="l-aes-app__main">
    <div class="l-aes-main__breadcrumbs">Message Center \ something \ something \ 12345</div>
    <div class="l-aes-main__content">
      <div class="l-aes-app__message-center">
        <div class="l-aes-message-center__messages">
          all of my messages here
        </div>
        <div class="l-aes-message-center__message">
          message contents
        </div>
      </div>
    </div>
  </div>
</div>