/* colors
    dark blue: #08222f
    aquilon blue: #48b2e8
    light blue: #90c9e6
    aquilon green: #98C21F
    aquilon orange: #FF9952
*/

/* box shadow
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

@font-face {
    font-family: 'Clear Sans';
    src: url('./assets/fonts/clearsans_light_macroman/ClearSans-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Clear Sans Bold';
    src: url('./assets/fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.woff') format('woff');
}

.feather {
    width: 24px;
    height: 24px;
    stroke: #444;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: #ccc;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}
.l-aes {
    height: 100%;
    font-family: 'PT Sans';
}
.l-aes__side {
    background-color: #e4e4e4;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: .25em 0;
}
.l-aes__content {
    color: #777;
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.profile {
    display: flex;
    align-items: center;
    cursor: default;
}
.profile__logo {
    background: url('./assets/generic-logo.png') no-repeat left;
    background-size: contain;
    height: 50px;
    width: 100px;
}
.profile__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #444;
    padding: 0 1em 0 0;
}
.user__name {
    font-weight: bold;
}
.side-tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5em 1em;
    cursor: default;
    margin: .15em;
}
.side-tool:hover {
    background-color: #cccccc6b;
}
.side-tool__icon .feather {
    stroke: #48b2e8;
    fill: none;
    stroke-width: 2;
    width: 20px;
    height: 20px;
}
.side-tool__name {
    display: none;
}

.mat-menu-panel {
    background-color: #48b2e8; 
    color: #fff;
    position: relative;
    left: 0;
    right: 0;
}

.mat-menu-panel button {
    font-family: 'PT Sans' !important;
    font-size: .8em;
}

.mat-menu-content, .mat-menu-item {
    padding: 0 !important;
}

.mat-menu-item {
    line-height: 0 !important;
}

.mat-menu-item:hover {
    background-color: #70c3ec !important;
    fill: red;
}

.mat-menu-item:hover .feather {
    stroke: #fff !important;
}

.full-width-menu {
    position: absolute;
    left: 0;
    right: 0;
}