/* colors
    dark blue: #08222f
    aquilon blue: #48b2e8
    aquilon green: #98C21F
    aquilon orange: #FF9952
*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@font-face {
    font-family: 'Clear Sans';
    src: url('./assets/fonts/clearsans_light_macroman/ClearSans-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Clear Sans Bold';
    src: url('./assets/fonts/clearsans_bold_macroman/ClearSans-Bold-webfont.woff') format('woff');
}

.feather {
    width: 24px;
    height: 24px;
    stroke: #444;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: #ccc;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
}
app-root{
    display: flex;
    flex: 1;
}
.l-aes {
    font-family: 'Clear Sans';
    font-size: .8em;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.l-aes__container {
    display: flex;
    flex: 1;
}
.l-aes-header {
    display: flex;
    background-color: #fff;
}
.l-aes-header__logo {
    background: url('./assets/aquilon-logo.png') no-repeat left;
    width: 140px;
    height: 45px;
    padding: .5em;
    background-color: #eee;
}
.l-aes-header__title {
    color: #48b2e8;
    font-family: 'PT Sans';
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.4em;
    padding: 0 .5em;
}
.l-aes-header__nav {
    display: flex;
    align-items: center;
    padding: .5em 3em;
}
.l-aes-header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.l-aes__side {
    background-color: #474c4e;
    font-size: .8em;
    color: #fff;
    width: 7em;
    display: flex;
    flex-direction: column;
}
.l-aes__content {
    flex: 1;
    background-color: #f4f4f4;
}
.profile {
    display: flex;
    align-items: center;
    cursor: default;
}
.profile__logo {
    background: url('./assets/generic-logo.png') no-repeat left;
    background-size: contain;
    height: 50px;
    width: 100px;
}
.profile__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #444;
    padding: 0 1em;
}
.user__name {
    font-weight: bold;
}
.nav__tool {
    position: relative;
    margin: 0 1.5em;
}
.side-tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
    cursor: default;
}
.side-tool__icon .feather {
    stroke: #48b2e8;
    fill: none;
}
.side-tool__name {
    padding: .5em;
}
