<header class="l-aes-header">
  <div class="l-aes-header__logo"></div>
  <div class="l-aes-header__title">AES Portal<span>{{title}}</span></div>
  <div class="l-aes-header__nav">
    <div class="nav__tool" (click)="test()">
      <svg class="feather">
        <use xlink:href="./assets/feather-sprite.svg#layers"/>
      </svg>
    </div>
    <div class="nav__tool" [matMenuTriggerFor]="notificationMenu">
      <svg class="feather">
        <use xlink:href="./assets/feather-sprite.svg#bell"/>
      </svg>
      <span style="position: absolute; top: .5em; left: 2.5em;">
        <svg class="feather" style="width: 1em; stroke: #fff; stroke-width: .3em; fill: #FF9952;">
          <use xlink:href="./assets/feather-sprite.svg#circle"/>
        </svg>
      </span>
    </div>
    <mat-menu #notificationMenu="matMenu" xPosition="before" [overlapTrigger]="false">
      <button mat-menu-item>
        <div style="display: flex; padding: .25em; align-items: center;">
          <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
            <svg class="feather" style="fill: none; stroke: #a1d2eb;">
              <use xlink:href="./assets/feather-sprite.svg#settings"/>
            </svg>
          </div>
          <div style="flex: 1; padding: 0 .25em; color: #fff;">User Preferences is really long</div>
        </div>
      </button>
      <button mat-menu-item>
        <div style="display: flex; padding: .25em; align-items: center;">
          <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
            <svg class="feather" style="fill: none; stroke: #a1d2eb;">
              <use xlink:href="./assets/feather-sprite.svg#aperture"/>
            </svg>
          </div>
          <div style="flex: 1; padding: 0 .25em; color: #fff;">App Settings</div>
        </div>
      </button>
      <button mat-menu-item>
        <div style="display: flex; padding: .25em; align-items: center;">
          <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
            <svg class="feather" style="fill: none; stroke: #a1d2eb;">
              <use xlink:href="./assets/feather-sprite.svg#log-out"/>
            </svg>
          </div>
          <div style="flex: 1; padding: 0 .25em; color: #fff;">Logout</div>
        </div>
      </button>
    </mat-menu>
  </div>
  <div class="l-aes-header__menu" [matMenuTriggerFor]="userMenu">
    <div class="profile">
      <div class="profile__user">
        <div class="user__name">Obi-wan Kenobi, Jedi Master</div>
        <div class="user__org">BP Energy Company</div>
      </div>
      <div style="padding: 0 1em 0 0;">
        <svg class="feather" [ngClass]="{'rotate': userMenuState }">
          <use xlink:href="./assets/feather-sprite.svg#arrow-down"/>
        </svg>
      </div>
    </div>
  </div>
  <mat-menu class="full-width-menu" #userMenu="matMenu" xPosition="after" [overlapTrigger]="false">
      <button mat-menu-item>
        <div style="display: flex; padding: .25em; align-items: center;">
          <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
            <svg class="feather" style="fill: none; stroke: #a1d2eb;">
              <use xlink:href="./assets/feather-sprite.svg#settings"/>
            </svg>
          </div>
          <div style="flex: 1; padding: 0 .25em; color: #fff;">User Preferences</div>
        </div>
      </button>
      <button mat-menu-item>
        <div style="display: flex; padding: .25em; align-items: center;">
          <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
            <svg class="feather" style="fill: none; stroke: #a1d2eb;">
              <use xlink:href="./assets/feather-sprite.svg#aperture"/>
            </svg>
          </div>
          <div style="flex: 1; padding: 0 .25em; color: #fff;">App Settings</div>
        </div>
      </button>
      <button mat-menu-item>
        <div style="display: flex; padding: .25em; align-items: center;">
          <div style="display: flex; align-items: center; justify-content: center; width: 2em; padding: 0 .25em;">
            <svg class="feather" style="fill: none; stroke: #a1d2eb;">
              <use xlink:href="./assets/feather-sprite.svg#log-out"/>
            </svg>
          </div>
          <div style="flex: 1; padding: 0 .25em; color: #fff;">Logout</div>
        </div>
      </button>
    </mat-menu>
</header>