.l-aes-header {
    display: flex;
    background-color: #fff;
    /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
    position: relative;
}
.l-aes-header__logo {
    background: url('../../assets/aquilon-logo.png') no-repeat left;
    width: 140px;
    height: 45px;
    padding: .5em;
}
.l-aes-header__title {
    color: #48b2e8;
    font-family: 'PT Sans';
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.4em;
    padding: 0 .5em;
}
.l-aes-header__nav {
    display: flex;
    align-items: center;
    padding: .5em 3em;
}
.l-aes-header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}