.l-aes-header {
    display: flex;
    font-size: .8em;
    background-color: #fff;
}
.l-aes-header__logo {
    background: url('../../assets/aquilon-logo.png') no-repeat left;
    width: 140px;
    height: 45px;
    padding: .5em;
}
.l-aes-header__title {
    color: #48b2e8;
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 1.4em;
    padding: 0 .5em;
}
.l-aes-header__nav {
    display: flex;
    margin: 0 1em;
}
.l-aes-header__nav .nav__tool {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
}
.l-aes-header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-aes-header__menu .feather {
    transition-duration: .5s;
    transition-property: transform;
}

.rotate {
    transform: rotate(180deg);
}